.home-container .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #7B61FF;
  position: fixed; /* Fixed at the top */
  width: 98%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-link-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-buttons {
  display: flex;
  gap: 15px; /* Space between buttons */
}

button {
  
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  background-color: #646cff;
  color: #fff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

button:hover {
  background-color: #4a56e2;
}

.signin {
  background-color: #646cff;
}

.register {
  background-color: #61dafb;
}

.register:hover {
  background-color: #4da9d8;
}

.logout {
  margin-right: 20px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  /* background-color: #ff3b3b; */
  color: #fff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.logout:hover {
  background-color: #d02a2a;
}

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    #ee82ee 0%,
    #7d00d4 34%,
    #9400ff 71%,
    #ee82ee 100%
  );
}

.main-screen button {
  margin: 0.8rem;
  width: 200px;
}
